.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-p-style {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-p-color);
  line-height: 1.8;
}
.main-heading {
  margin-bottom: 50px;
}
.main-heading .sub {
  color: var(--main-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.main-heading h2 {
  font-size: 36px;
  color: #fff;
}
.custom-btn {
  font-size: 12px;
  font-weight: bold;
  color: var(--main-black-color);
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 8px 12px;
  transition: var(--main-transition);
}
.custom-btn:hover {
  background-color: var(--main-color-alt);
  color: currentColor;
}
@media (max-width: 575px) {
  .alt-heading {
    text-align: center;
  }
}
.alt-heading .sub {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--light-white-color);
  position: relative;
  text-transform: uppercase;
  padding-left: 45px;
  margin-bottom: 10px;
  width: fit-content;
}
@media (max-width: 575px) {
  .alt-heading .sub {
    text-align: center;
    margin: 0 auto 10px;
  }
}
.alt-heading .sub::before {
  content: "";
  width: 35px;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.alt-heading h2 {
  font-size: 36px;
  color: var(--main-white-color);
  font-weight: bold;
  margin-bottom: 20px;
}
.space-between-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
