$main-color: #e4d804;
$main-color-alt: #e4d904e8;
$main-white-color: #f0f0f0;
$main-black-color: #1e1b29;
$main-p-color: #bcbcbc;
$light-white-color: #e3dfdf;
$section-bg-color: #171d22;
$main-transition: 0.3s;
$secondary-transition: 0.6s;
$slow-transition: 0.8s;